@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lora&family=Montserrat&family=Noto+Serif&family=Playfair+Display:ital@1&family=Vollkorn&display=swap');

html,
body {
  margin: 0;
  background: black;
  cursor: pointer;
}

canvas {
  display: block;
}
